/* 
html,
body,
.root {
  height: 100%;
  margin: 0;
}

.root {
  overflow: auto;
} 
*/


html,
body,
.root {
  margin: 0;
}

/* 
　html、body、root がどの位置に配置されるのか不明です。 
　スクロールバーが表示される場合にどの位置に表示されるのか指定されていません。  
*/

/* 
SPA作成時の注意事項 

・レイアウト定義 曖昧なレイアウトの定義を行うと、異なった処理系で実行時する場合にレイアウト崩れを引き起こす原因になります。 
特にスクロールバーが表示される場合に発生する事が多く見られるのでご注意下さい。 

*/